#header-title {
  text-align: center;
}

.main-container {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;

    .child {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .btn {
        padding: 0.5rem 1rem;
      }
    }

    #left {
      background-color: darksalmon;
    }

    #right {
      background-color: lightcoral;
    }

    .diceNumber {
      padding: 2rem;
    }
  }

  #winner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: lightgoldenrodyellow;
  }

  #bottom-img {
    width: 100%;
  }
}
