#header-title {
  text-align: center;
}

.main-container {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 200px;

    .child {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    div {
      flex-basis: 50%;
      height: 100%;
    }

    #left {
      background-color: darksalmon;
    }

    #right {
      background-color: lightcoral;
    }

    .diceNumber {
      padding: 2rem;
    }
  }

  #winner {
      background-color: lightgoldenrodyellow;
  }

  #bottom-img {
    width: 100%;
  }
}
